.product-section {
    text-align: center;
    padding: 1.25rem;

  }

  .product-heading {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 4.2rem;
    margin-top: 10rem;
  }

  .product-circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem 5rem;
    cursor: pointer;
    overflow: hidden;
    background-color: #f1f1f2;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .product-circle:hover {
    transform: scale(1.05);
    border: 1px solid transparent;
    /* padding: 10px; */
    box-shadow: 5px 10px black;  }

  .product-icon {
    width: 7rem;
  }

  .product-name {
    margin-top: 0.7rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
@media screen and (max-width: 768px) {

    .product-circle {
        margin: 1rem 0.4rem;
    }
}

