@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Ubuntu&display=swap');

*{
    font-family: 'Roboto', sans-serif !important;
    /* font-family: 'Ubuntu', sans-serif; */
    color: black !important;
}
nav {
  background:rgba(255, 255, 255, 0.5);
  color: black;
  position:fixed;
  z-index:999999;
  width:100%;
 -webkit-backdrop-filter:saturate(180%) blur(20px);
backdrop-filter: saturate(180%) blur(30px);

  }
  .navbar-nav {
    margin-left: auto;
    color: black;
    font-size: 1rem;
  }

  a:link, a:visited, a:hover, a:active{
    text-decoration: none;
  }
  .navbar-toggler {
    border: none;
    outline: none;

     &:focus,
     &:active,
     &-icon:focus {
       outline: none;
       box-shadow: none;
     }
  }